node_modules
mockServiceWorker.js
*/dist/
pnpm-workspace.yaml

*/**/package-lock.json
*/**/build
*/**/src/common
*/**/src/resource/locales
/build/.npmrc
/**/web/.reports
/**/pwa/.reports
.stories
.storiesbuild
package-lock.json
pnpm-lock.yaml
localBucket/**
jsconfig.json
*/**/storybook-static/**
storybook/**

# System Files
.DS_Store
Thumbs.db
*.log
data/*
data/db/*
data/redis/*

.idea/*
venv/*
./venv/*