
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modelContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.closeButton{
    display: flex;
    position: absolute;
    right: 20px;
    margin-bottom: 12px;
}